@charset "UTF-8";
.contain {
   margin: 0 auto;
   max-width: 480px;
}

.btns {
   display: flex;
   flex-direction: column;
}

.btn {
   transition: all .3s ease;
   padding: 10px 1rem;
   width: 100%;
   border: none;
}

.btn:not(:last-child) {
   margin-right: 10px;
}

.active {
   background: red;
   padding-bottom: 100px;
}
